  .news-section {
    border: 5px solid rgb(53, 49, 49);
    background-color: rgb(37, 21, 21);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    color: white;
    height: 600px;
    padding: 5px;
    font-size: 15px;
    overflow: hidden;
  }
  
  .grid-container {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
    padding: 30px;
    border-width: 10px;
    border-color: #000;
  }
  